

body {
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

article {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
}

h1 {
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    text-align: center;
}

